#root {
  /* max-width: 1280px; */
  text-align: center;
  display: grid;
  place-items: center;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #d5e1ef;
  display: grid;
  place-items: center;
  
}

